@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.dashboard-products {
  width: 300px;
  height: 250px;
}

.carousel-item {
  height: 340px;
}

// .product-card {
//   width: 320px;
//   height: 465px;
// }

.product-discription {
  height: 80px;
}

.best-sell-img {
  height: 150px;
  width: 150px;
}

.review_list {
  width: 635.5px;
  margin-right: 25px;
}

.review_list_image {
  width: 100px !important;
  height: 100px;
}

/* Media queries for different screen sizes */
@media (max-width: 576px) {
  .py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .featurs .featurs-item .featurs-icon {
    position: relative;
    // width: 30%;
  }

  .fas.fa-car-side.fa-3x.text-white:after {
    width: 20%;
    height: 20%;
  }

  .fa-3x {
    font-size: 50px;
  }

  .featurs .featurs-item .featurs-icon::after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgb(255, 193, 7);
    position: absolute;
    bottom: -14px;
    transform: translate(-50%);
    transform: rotate(45deg);
    background: rgb(255, 193, 7);

    i {
      width: 100px;
    }
  }

  .col-sm-6 {
    width: 50%;
  }

  .row {
    display: flex;
    flex-direction: row-reverse;
  }

  h1 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .align-items-center {
    text-align: center !important;
  }

  .site-reviews {
    height: 100%;
    width: 100%;

    h4 {
      font-size: 10px;
    }

    h1 {
      font-size: 15px;
    }
  }

  .counter {
    i {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }

  .p-5 {
    padding: 1rem !important;
  }

  .btn {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .px-3 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .review_list {
    width: 100%; //635.5px;
    margin-right: 25px;
  }

  .review_list_image {
    width: 70px !important;
    height: 70px;
  }

  .fa-quote-right:before {
    content: '\f10e';
    font-size: medium;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* Styles for small devices (tablets) */
  body {
    font-size: 16px;
  }

  .company-heading {
    margin-left: 0px !important;
  }

  .hero-header,
  .page-header {
    margin-top: 0px !important;
  }

  .py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .px-3 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Styles for medium devices (small laptops) */
  body {
    font-size: 18px;
  }

  .company-heading {
    margin-left: 0px !important;
  }

  .hero-header,
  .page-header {
    margin-top: 0px !important;
  }

  .py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* Styles for large devices (desktops) */
  body {
    font-size: 20px;
  }

  .company-heading {
    margin-left: 0px !important;
  }

  .hero-header,
  .page-header {
    margin-top: 0px !important;
  }

  .py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
}
