PORT={port}
NODE_ENV=development
DEBUG=api:*

DB_CLIENT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER={username}
DB_PASS={password}
DB_NAME={database}
DB_DEBUG=1

DATA_SECRET={your_secret_key}

MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211

REDIS_HOST=127.0.0.1
REDIS_PORT=6379