<div class="main_login_div">
  <div class="container" style="height: 75%; max-width: 60%">
    <div class="container__form container--signup">
      @if(!resetPasswordPageActive){
      <form
        [formGroup]="signupForm"
        (ngSubmit)="userSignUpSubmit()"
        class="form signup_form"
        id="form1"
      >
        <a routerLink="" class="navbar-brand"
          ><h1 class="text-primary display-6">Fruitables</h1></a
        >
        <h2 class="form__title">Sign Up</h2>
        <div class="input form-floating">
          <input
            type="text"
            class="form-control"
            id="first_name"
            placeholder="First Name"
            formControlName="first_name"
            [ngClass]="{
              'is-invalid':
                signUpformValues.first_name.touched &&
                signUpformValues.first_name.invalid
            }"
          />
          @if(signUpformValues.first_name.touched &&
          signUpformValues.first_name.invalid){
          @if(signUpformValues.first_name?.errors?.required){
          <label class="err">Please enter First Name</label>
          } } @else if(!(signUpformValues.first_name.touched &&
          signUpformValues.first_name.invalid)) {
          <label for="first_name"
            >First Name <em class="text-danger">*</em></label
          >
          }
        </div>
        <div class="input form-floating">
          <input
            type="text"
            placeholder="Last Name"
            class="form-control"
            formControlName="last_name"
            id="last_name"
            [ngClass]="{
              'is-invalid':
                signUpformValues.last_name.touched &&
                signUpformValues.last_name.invalid
            }"
          />

          @if(signUpformValues.last_name.touched &&
          signUpformValues.last_name.invalid){
          @if(signUpformValues.last_name?.errors?.required){
          <label class="err">Please enter Last Name</label>
          } } @else if(!(signUpformValues.last_name.touched &&
          signUpformValues.last_name.invalid)) {
          <label for="last_name"
            >Last Name <em class="text-danger">*</em></label
          >
          }
        </div>

        <div class="input form-floating">
          <input
            type="text"
            placeholder="Email"
            class="form-control"
            formControlName="signup_email"
            id="signup_email"
            [ngClass]="{
              'is-invalid':
                signUpformValues.signup_email.touched &&
                signUpformValues.signup_email.invalid
            }"
          />
          @if(signUpformValues.signup_email.touched &&
          signUpformValues.signup_email.invalid){
          @if(signUpformValues.signup_email?.errors?.required){
          <label class="err">Please enter Email</label>
          } @else if(signUpformValues.signup_email?.errors?.email){
          <label class="err">Please enter valid Email</label>
          } } @else if(!(signUpformValues.signup_email.touched &&
          signUpformValues.signup_email.invalid)) {
          <label for="signup_email"
            >Email <label class="text-danger">*</label></label
          >
          }
        </div>

        <div class="input form-floating">
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            [(ngModel)]="signupPassword"
            formControlName="signup_password"
            [ngClass]="{
              'is-invalid':
                signUpformValues.signup_password.touched &&
                signUpformValues.signup_password.invalid
            }"
          />
          @if(signUpformValues.signup_password.touched &&
          signUpformValues.signup_password.invalid){
          @if(signUpformValues.signup_password?.errors?.required){
          <label class="err">Please enter Password</label>
          } @else if(signUpformValues.signup_password?.errors?.pattern){
          <label>Please enter valid Password</label>
          } } @else if(!(signUpformValues.signup_password.touched &&
          signUpformValues.signup_password.invalid)) {
          <label for="signup_password"
            >Password <label class="text-danger">*</label></label
          >
          }
        </div>

        <div class="valid-password-msg">
          Password should have 8 characters and in one Number,one Special
          character,one Captal and one Small letter.
        </div>

        <div class="input form-floating">
          <input
            type="password"
            placeholder="Confirm Password"
            class="form-control"
            [(ngModel)]="signupConfirmedPassword"
            formControlName="signup_confirm_password"
            [ngClass]="{
              'is-invalid':
                (signUpformValues.signup_confirm_password.touched &&
                  signUpformValues.signup_confirm_password.invalid) ||
                !confirmPasswordValid
            }"
            (keyup)="checkConfirmPassword()"
          />
          @if(signUpformValues.signup_confirm_password.touched &&
          signUpformValues.signup_confirm_password.invalid){
          @if(signUpformValues.signup_confirm_password?.errors?.required){
          <label class="err">Please enter Confirm Password</label>
          } } @else if(!confirmPasswordValid){
          <label class="err">Confirm Password not equal to Password</label>
          }@else if(!(signUpformValues.signup_confirm_password.touched &&
          signUpformValues.signup_confirm_password.invalid)) {
          <label for="signup_confirm_password"
            >Confirm Password <label class="text-danger">*</label></label
          >
          }
        </div>
        <label style="margin-right: 70%" class="mt-2" for="phone_number"
          >Phone Number <span class="text-danger">*</span></label
        >
        <div
          class="bg_none input form-floating mt-1"
          [ngClass]="{
            starting: !(
              signUpformValues.phone_number.touched &&
              signUpformValues.phone_number.invalid
            )
          }"
        >
          <input
            #dialPhoneNumber
            type="tel"
            name="phone"
            id="phone_number"
            class="form-control py-3"
            formControlName="phone_number"
            style="margin-right: 220px"
            [ngClass]="{
              'is-invalid':
                signUpformValues.phone_number.touched &&
                signUpformValues.phone_number.invalid,
              starting: !(
                signUpformValues.phone_number.touched &&
                signUpformValues.phone_number.invalid
              )
            }"
            (change)="phoneNumberChange()"
          />
          @if(signUpformValues.phone_number.touched &&
          signUpformValues.phone_number.invalid){
          @if(signUpformValues.phone_number?.errors?.required){
          <label class="err" style="margin-left: 17%" for="phone_number"
            >Please enter Phone Number</label
          >
          } }
        </div>

        <button type="submit" class="btn">Sign Up</button>
      </form>
      }@else {
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPasswordFormSubmit()"
        class="form"
        id="resetPasswordForm"
      >
        <a routerLink="" class="navbar-brand"
          ><h1 class="text-primary display-6">Fruitables</h1></a
        >
        <h2 class="form__title">Reset Password</h2>

        <div class="input form-floating">
          <input
            type="text"
            class="form-control"
            id="otp"
            placeholder="OTP"
            formControlName="reset_password_form_otp"
            [ngClass]="{
              'is-invalid':
                resetPasswordValues.reset_password_form_otp.touched &&
                resetPasswordValues.reset_password_form_otp.invalid
            }"
          />
          @if(resetPasswordValues.reset_password_form_otp.touched &&
          resetPasswordValues.reset_password_form_otp.invalid){
          @if(resetPasswordValues.reset_password_form_otp?.errors?.required){
          <label class="err">Please enter OTP</label>
          } } @else if(!(resetPasswordValues.reset_password_form_otp.touched &&
          resetPasswordValues.reset_password_form_otp.invalid)) {
          <label for="reset_password_form_otp"
            >OTP <label class="text-danger">*</label></label
          >
          }
        </div>

        <div class="input form-floating">
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            [(ngModel)]="resetPassword"
            formControlName="reset_password"
            [ngClass]="{
              'is-invalid':
                resetPasswordValues.reset_password.touched &&
                resetPasswordValues.reset_password.invalid
            }"
          />
          @if(resetPasswordValues.reset_password.touched &&
          resetPasswordValues.reset_password.invalid){
          @if(resetPasswordValues.reset_password?.errors?.required){
          <label class="err">Please enter Password</label>
          } @else if(resetPasswordValues.reset_password?.errors?.pattern){
          <label>Please enter valid Password</label>
          } } @else if(!(resetPasswordValues.reset_password.touched &&
          resetPasswordValues.reset_password.invalid)) {
          <label for="reset_password"
            >Password <label class="text-danger">*</label></label
          >
          }
        </div>

        <div class="valid-password-msg">
          Password should have 8 characters and in one Number,one Special
          character,one Captal and one Small letter.
        </div>

        <div class="input form-floating">
          <input
            type="password"
            placeholder="Confirm Password"
            class="form-control"
            [(ngModel)]="resetConfirmedPassword"
            formControlName="reset_confirm_password"
            [ngClass]="{
              'is-invalid':
                (resetPasswordValues.reset_confirm_password.touched &&
                  resetPasswordValues.reset_confirm_password.invalid) ||
                !resetconfirmPasswordValid
            }"
            (keyup)="checkConfirmPassword()"
          />
          @if(resetPasswordValues.reset_confirm_password.touched &&
          resetPasswordValues.reset_confirm_password.invalid){
          @if(resetPasswordValues.reset_confirm_password?.errors?.required){
          <label class="err">Please enter Confirm Password</label>
          } } @else if(!confirmPasswordValid){
          <label class="err">Confirm Password not equal to Password</label>
          }@else if(!(resetPasswordValues.reset_confirm_password.touched &&
          resetPasswordValues.reset_confirm_password.invalid)) {
          <label for="reset_confirm_password"
            >Confirm Password <label class="text-danger">*</label></label
          >
          }
        </div>

        <div class="d-flex justify-content-center mt-5">
          <button type="button" class="btn" (click)="resetPasswordPageCancel()">
            Cancel
          </button>
          <button type="submit" class="btn mx-2">Submit</button>
        </div>

        <!-- <button type="submit" class="btn">Submit</button> -->
      </form>

      }
    </div>

    <div class="container__form container--signin">
      @if (signUppageActive) { @if(!forgotPasswordPageActive){
      <form
        [formGroup]="signinForm"
        (ngSubmit)="userSignInSubmit()"
        class="form"
        id="form2"
      >
        <a routerLink="" class="navbar-brand"
          ><h1 class="text-primary display-6">Fruitables</h1></a
        >
        <h2 class="form__title">Sign In</h2>
        <div class="input form-floating">
          <!-- <input type="email" placeholder="Email" class="input" /> -->
          <input
            type="text"
            placeholder="Email"
            class="form-control"
            formControlName="signin_email"
            id="signin_email"
            [ngClass]="{
              'is-invalid':
                signInformValues.signin_email.touched &&
                signInformValues.signin_email.invalid
            }"
          />
          @if(signInformValues.signin_email.touched &&
          signInformValues.signin_email.invalid){
          @if(signInformValues.signin_email?.errors?.required){
          <label class="err">Please enter Email</label>
          } @else if(signInformValues.signin_email?.errors?.email){
          <label class="err">Please enter valid Email</label>
          } } @else if(!(signInformValues.signin_email.touched &&
          signInformValues.signin_email.invalid)) {
          <label for="signin_email"
            >Email <label class="text-danger">*</label></label
          >
          }
        </div>
        <div class="input form-floating">
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            [(ngModel)]="signupPassword"
            formControlName="signin_password"
            [ngClass]="{
              'is-invalid':
                signInformValues.signin_password.touched &&
                signInformValues.signin_password.invalid
            }"
          />
          @if(signInformValues.signin_password.touched &&
          signInformValues.signin_password.invalid){
          @if(signInformValues.signin_password?.errors?.required){
          <label class="err">Please enter Password</label>
          } } @else if(!(signInformValues.signin_password.touched &&
          signInformValues.signin_password.invalid)) {
          <label for="signin_password"
            >Password <label class="text-danger">*</label></label
          >
          }
        </div>

        <a (click)="forgotPasswordPageActive = true" class="forgot_password"
          >Forgot your password?</a
        >

        <button type="submit" class="btn">Sign In</button>
      </form>
      }@else {
      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="forgotPasswordSubmit()"
        class="form"
        id="forgotPasswordForm"
      >
        <a routerLink="" class="navbar-brand"
          ><h1 class="text-primary display-6">Fruitables</h1></a
        >
        <h2 class="form__title">Forgot Password</h2>
        <div class="input form-floating">
          <input
            type="text"
            placeholder="Email"
            class="form-control"
            formControlName="forgotPassword_email"
            id="form3"
            [ngClass]="{
              'is-invalid':
                forgotPasswordValues.forgotPassword_email.touched &&
                forgotPasswordValues.forgotPassword_email.invalid
            }"
          />
          @if(forgotPasswordValues.forgotPassword_email.touched &&
          forgotPasswordValues.forgotPassword_email.invalid){
          @if(forgotPasswordValues.forgotPassword_email?.errors?.required){
          <label class="err">Please enter Email</label>
          } @else if(forgotPasswordValues.forgotPassword_email?.errors?.email){
          <label class="err">Please enter valid Email</label>
          } } @else if(!(forgotPasswordValues.forgotPassword_email.touched &&
          forgotPasswordValues.forgotPassword_email.invalid)) {
          <label for="forgotPassword_email"
            >Email <label class="text-danger">*</label></label
          >
          }
        </div>
        <div class="d-flex justify-content-center mt-5">
          <button
            type="button"
            class="btn"
            (click)="forgotPasswordPageCancel()"
          >
            Cancel
          </button>
          <button type="submit" class="btn mx-2">Submit</button>
        </div>
      </form>
      } }
    </div>

    <div class="container__overlay">
      <div class="overlay">
        <div class="overlay__panel overlay--left">
          <button class="btn" id="signIn" (click)="signInPage()">
            Sign In
          </button>
        </div>
        <div class="overlay__panel overlay--right">
          <button class="btn" id="signUp" (click)="signUpPage()">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
