<div id="main-div" class="d-flex justify-content-center">
  <div id="chaild-div">
    @if(orderData.length){
    <label class="text-success h1 bold d-flex justify-content-center">
      ORDERS
    </label>
    <div class="w-100 h-100 border border-success rounded" id="scroller">
      <section class="vh-100">
        <div class="container h-100">
          <div class="row d-flex justify-content-center h-100">
            <div class="col-12">
              @for(order of orderData; track order.order_id){
              <a routerLink="/{{ 'order/' + order.order_id }}">
                <div class="card card-stepper mt-3" style="border-radius: 16px">
                  <div class="card-body p-5">
                    <div class="d-flex justify-content-between mb-5">
                      <div>
                        <div class="h3">Delivery Address</div>

                        <div class="mb-1">
                          <h5>{{ order.name }}</h5>
                        </div>
                        <div>{{ order.address }}</div>
                        <div>{{ order.land_mark }}</div>
                        <div>{{ order.city }}</div>
                        <div>{{ order.state_name }}</div>
                        <div>{{ order.country_name }}</div>
                        <div>{{ order.pin_code }}</div>
                        <div>{{ order.phone_number }}</div>
                      </div>
                      <div>
                        <div class="h3">Order Details</div>
                        <div>
                          Status : <b>{{ orderStatusInfo[order.status] }}</b>
                        </div>
                        <div>
                          Ordered At : <b>{{ order.createdAt }}</b>
                        </div>
                        <div>
                          Last Updated At : <b>{{ order.updatedAt }}</b>
                        </div>
                      </div>
                    </div>
                    @if(order.product_ids.length){
                    <div class="card shadow-0 border-bottom mb-4">
                      <div class="card-body border border-bottom">
                        <div class="row">
                          <div
                            class="col-md-3 d-flex justify-content-center align-items-center"
                          >
                            <h5>Item (s)</h5>
                          </div>
                          <div
                            class="col-md-3 text-center d-flex justify-content-center align-items-center"
                          >
                            <h5>Name</h5>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <h5>Quantity</h5>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <h5>Product Price</h5>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <h5>Total</h5>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-3 text-center">
                            <img
                              crossOrigin="anonymous"
                              src="{{
                                order.product_ids[0].product_image.replaceAll(
                                  'undefined',
                                  'http://localhost:3069'
                                )
                              }}"
                              class=""
                              height="100px"
                              alt="Phone"
                            />
                          </div>
                          <div
                            class="col-md-3 text-center d-flex justify-content-center align-items-center"
                          >
                            <p class="text-muted mb-0">
                              {{ order.product_ids[0].product_name }}
                            </p>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <p class="text-muted mb-0 small">
                              {{ order.product_ids[0].order_qty }}
                            </p>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <p class="text-muted mb-0 small">
                              {{ order.product_ids[0].product_cost | currency }}
                            </p>
                          </div>
                          <div
                            class="col-md-2 text-center d-flex justify-content-center align-items-center"
                          >
                            <p class="text-muted mb-0 small">
                              {{
                                order.product_ids[0].product_cost *
                                  order.product_ids[0].order_qty | currency
                              }}
                            </p>
                          </div>
                        </div>
                        @if(order.product_ids.length - 1 > 0){
                        <div
                          class="p-3 d-flex justify-content-center border border border-warning"
                        >
                          <span
                            >{{ order.product_ids.length - 1 }} Other
                            Products...
                          </span>
                        </div>
                        }
                      </div>
                    </div>
                    }
                  </div>
                </div>
              </a>
              }
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="pagination-div" class="w-100 d-flex justify-content-end mt-3">
      <select
        class="select-class border border-warning rounded text-center me-3"
        #page_selecter
        (change)="countChange(page_selecter.value)"
      >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>

      <ngb-pagination
        class=""
        [pageSize]="limit"
        [collectionSize]="totalOrdersCount"
        [(page)]="page"
        (pageChange)="paginationChange(1)"
        [maxSize]="5"
      ></ngb-pagination>
    </div>
    } @else {
    <div
      class="d-flex justify-content-center align-items-center no-items-found"
    >
      <label><h1>No Orders found</h1></label>
    </div>
    }
  </div>
</div>
