$secondary-variable: rgb(255 193 7);
$--bs-white: #fff;

.cancel_btn {
  background: $secondary-variable;
  color: $--bs-white;
}

.starting {
  label {
    position: absolute;
    top: -15px;
    left: 14%;
    font-size: 14px;
  }
}
.iti__selected-country {
  border: none !important;
}

#phone_number {
  margin-right: 420px;
}

#error_phone_number {
  margin-left: 13%;
}

@media (max-width: 576px) {
  #phone_number {
    margin-right: 130px;
  }
  #error_phone_number {
    margin-left: 22%;
  }
}
