<div class="container-fluid py-5">
  @if(cartData?.length){
  <div class="container py-5">
    <div class="row">
      <div class="col-10">
        <h1 class="mb-2">Billing details</h1>
      </div>
      <div class="col-2 text-end">
        <div class="me-2">
          <button
            (dblclick)="showAddressComp()"
            (click)="showAddressComp()"
            class="btn btn-primary"
            type="button"
            id="add-address-btn"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <i class="bi bi-building-add"></i>
            {{ showAddressBtn }}
          </button>
        </div>
      </div>
    </div>

    <div class="collapse border border-success rounded" id="collapseExample">
      <div class="card card-body">
        <form [formGroup]="addressFrom" (ngSubmit)="addressAdd()">
          <input formControlName="id" type="hidden" />
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-7">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <div class="form-floating mb-4">
                    <input
                      type="text"
                      id="first_name"
                      class="form-control"
                      placeholder="First Name"
                      formControlName="first_name"
                      [ngClass]="{
                        'is-invalid':
                          userOrderAddress.first_name.touched &&
                          userOrderAddress.first_name.invalid
                      }"
                    />
                    @if(userOrderAddress.first_name.touched &&
                    userOrderAddress.first_name.invalid){
                    @if(userOrderAddress.first_name?.errors?.required){
                    <label class="err">Please enter First Name</label>
                    }}@else if(!(userOrderAddress.first_name.touched &&
                    userOrderAddress.first_name.invalid)) {
                    <label for="first_name"
                      >First Name <em class="err">*</em></label
                    >
                    }
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="form-floating mb-4">
                    <input
                      type="text"
                      id="last_name"
                      class="form-control"
                      placeholder="Last Name"
                      formControlName="last_name"
                      [ngClass]="{
                        'is-invalid':
                          userOrderAddress.last_name.touched &&
                          userOrderAddress.last_name.invalid
                      }"
                    />
                    @if(userOrderAddress.last_name.touched &&
                    userOrderAddress.last_name.invalid){
                    @if(userOrderAddress.last_name?.errors?.required){
                    <label class="err">Please enter Last Name</label>
                    }} @else if(!(userOrderAddress.last_name.touched &&
                    userOrderAddress.last_name.invalid)) {
                    <label for="last_name"
                      >Last Name <em class="err">*</em></label
                    >
                    }
                  </div>
                </div>
              </div>

              <label style="margin-right: 70%" class="" for="phone_number"
                >Phone Number <span class="text-danger">*</span></label
              >
              <div
                class="bg_none input form-floating mb-4 w1"
                [ngClass]="{
                  starting: !(
                    userOrderAddress.phone_number.touched &&
                    userOrderAddress.phone_number.invalid
                  )
                }"
              >
                <input
                  #dialPhoneNumber
                  type="tel"
                  name="phone"
                  id="phone_number"
                  class="form-control py-3"
                  formControlName="phone_number"
                  style="margin-right: 454px"
                  [ngClass]="{
                    'is-invalid':
                      userOrderAddress.phone_number.touched &&
                      userOrderAddress.phone_number.invalid,
                    starting: !(
                      userOrderAddress.phone_number.touched &&
                      userOrderAddress.phone_number.invalid
                    )
                  }"
                  (change)="phoneNumberChange()"
                />
                @if(userOrderAddress.phone_number.touched &&
                userOrderAddress.phone_number.invalid){
                @if(userOrderAddress.phone_number?.errors?.required){
                <label class="err" style="margin-left: 10%"
                  >Please enter Phone Number</label
                >
                }}
              </div>

              <div class="input form-floating mb-4 z-1">
                <input
                  type="text"
                  placeholder="Land Mark"
                  class="form-control"
                  formControlName="land_mark"
                  id="land_mark"
                  [ngClass]="{
                    'is-invalid':
                      userOrderAddress.land_mark.touched &&
                      userOrderAddress.land_mark.invalid
                  }"
                />
                @if(userOrderAddress.land_mark.touched &&
                userOrderAddress.land_mark.invalid){
                @if(userOrderAddress.land_mark?.errors?.required){
                <label class="err">Please enter Land Mark</label>
                } } @else if(!(userOrderAddress.land_mark.touched &&
                userOrderAddress.land_mark.invalid)) {
                <label for="land_mark">Land Mark <em class="err">*</em></label>
                }
              </div>
              <div class="input form-floating mb-4 z-1">
                <input
                  type="text"
                  placeholder="Address"
                  class="form-control"
                  formControlName="address"
                  id="address"
                  [ngClass]="{
                    'is-invalid':
                      userOrderAddress.address.touched &&
                      userOrderAddress.address.invalid
                  }"
                />
                @if(userOrderAddress.address.touched &&
                userOrderAddress.address.invalid){
                @if(userOrderAddress.address?.errors?.required){
                <label class="err">Please enter Address</label>
                } } @else if(!(userOrderAddress.address.touched &&
                userOrderAddress.address.invalid)) {
                <label for="address">Address <em class="err">*</em></label>
                }
              </div>

              <div class="input form-floating mb-4 z-1">
                <input
                  type="text"
                  placeholder="City"
                  class="form-control"
                  formControlName="city"
                  id="city"
                  [ngClass]="{
                    'is-invalid':
                      userOrderAddress.city.touched &&
                      userOrderAddress.city.invalid
                  }"
                />
                @if(userOrderAddress.city.touched &&
                userOrderAddress.city.invalid){
                @if(userOrderAddress.address?.errors?.required){
                <label class="err">Please enter City</label>
                } } @else if(!(userOrderAddress.city.touched &&
                userOrderAddress.city.invalid)) {
                <label for="address">City <em class="err">*</em></label>
                }
              </div>

              <div class="input form-floating mb-4">
                <input
                  type="text"
                  [readOnly]="true"
                  placeholder="Country Name"
                  class="form-control"
                  formControlName="country_name"
                  id="country_name"
                  [ngClass]="{
                    'is-invalid':
                      userOrderAddress.country_name.touched &&
                      userOrderAddress.country_name.invalid
                  }"
                />
                @if(userOrderAddress.country_name.touched &&
                userOrderAddress.country_name.invalid){
                @if(userOrderAddress.country_name?.errors?.required){
                <label class="err">Please enter Country Name</label>
                } } @else if(!(userOrderAddress.country_name.touched &&
                userOrderAddress.country_name.invalid)) {
                <label for="country_name"
                  >Country Name <em class="err">*</em></label
                >
                }
              </div>

              <div class="input form-floating mb-4">
                <select
                  type="text"
                  placeholder="State Name"
                  class="form-control state"
                  formControlName="state_name"
                  id="state_name"
                  [ngClass]="{
                    'is-invalid':
                      userOrderAddress.state_name.touched &&
                      userOrderAddress.state_name.invalid
                  }"
                >
                  @for (state of stateList; track state.state_id) {
                  <option [value]="state.state_name">
                    {{ state.state_name }}
                  </option>
                  }
                </select>
                @if(userOrderAddress.state_name.touched &&
                userOrderAddress.state_name.invalid){
                @if(userOrderAddress.state_name?.errors?.required){
                <label for="state_name" class="text-danger"
                  >Please select State Name</label
                >
                } } @else if(!(userOrderAddress.state_name.touched &&
                userOrderAddress.state_name.invalid)) {
                <label for="state_name">
                  State Name <em class="err">*</em>
                </label>
                }
              </div>

              <div class="input form-floating mb-4">
                <input
                  type="text"
                  placeholder="Pincode"
                  class="form-control"
                  formControlName="pin_code"
                  id="pin_code"
                  [ngClass]="{
                    'is-invalid':
                      userOrderAddress.pin_code.touched &&
                      userOrderAddress.pin_code.invalid
                  }"
                />
                @if(userOrderAddress.pin_code.touched &&
                userOrderAddress.pin_code.invalid){
                @if(userOrderAddress.pin_code?.errors?.required){
                <label class="err">Please enter Pincode</label>
                } } @else if(!(userOrderAddress.pin_code.touched &&
                userOrderAddress.pin_code.invalid)) {
                <label for="pin_code">Pincode <em class="err">*</em></label>
                }
              </div>

              <div class="d-flex justify-content-center">
                <button class="btn btn-success" type="submit">
                  @if(showAddressBtnMode == "update" ){Update} @else{Save}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div>
      <form [formGroup]="placeOrderForm" (ngSubmit)="addOrder()">
        <div class="row mt-5">
          <div class="col-md-12 col-lg-6 col-xl-6">
            <div class=" ">
              @for(addr of userAddressList; track addr; let i = $index){
              <div class="border border-success rounded mb-3">
                <div class="row">
                  <label class="col-10 p-3" for="{{ 'address-' + addr.id }}">
                    <div class="form-check">
                      @if(i==0){
                      <input
                        id="{{ 'address-' + addr.id }}"
                        class="form-check-input checked"
                        type="radio"
                        name="address_id"
                        formControlName="address_id"
                        value="{{ addr.id }}"
                        checked="true"
                      />
                      } @else {
                      <input
                        id="{{ 'address-' + addr.id }}"
                        class="form-check-input"
                        type="radio"
                        name="address_id"
                        formControlName="address_id"
                        value="{{ addr.id }}"
                      />
                      }
                      <label for="{{ 'address-' + addr.id }}">
                        <b>{{ addr.first_name }} {{ addr.last_name }} </b>
                      </label>
                    </div>
                  </label>
                  <div
                    class="col-2 d-flex justify-content-end align-items-center"
                  >
                    <button
                      type="button"
                      (click)="editAddress(addr.id)"
                      class="btn"
                    >
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button
                      type="button"
                      (click)="deleteAddres(addr.id)"
                      class="btn"
                    >
                      <i class="bi bi-trash-fill text-danger"></i>
                    </button>
                  </div>
                </div>
                <div class="border border-bottom border-success mb-2"></div>
                <div class="p-3">
                  <div>{{ addr.address }}</div>
                  <div>{{ addr.land_mark }}</div>
                  <div>{{ addr.city }}</div>
                  <div>{{ addr.state_name }}</div>
                  <div>{{ addr.country_name }}</div>
                  <div>{{ addr.pin_code }}</div>
                  <div>{{ addr.dial_code }} {{ addr.phone_number }}</div>
                </div>
              </div>
              }
            </div>
          </div>

          <div class="col-md-12 col-lg-6 col-xl-6">
            <div class=" ">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Products</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(item of cartData; track item.product_id;let idx =
                    $index){
                    <tr>
                      <th scope="row">
                        <div class="d-flex align-items-center mt-2">
                          <img
                            crossOrigin="anonymous"
                            src="{{ item.product_image }}"
                            class="img-fluid rounded-circle"
                            style="width: 90px; height: 90px"
                            alt=""
                          />
                        </div>
                      </th>
                      <td class="py-5">{{ item.product_name }}</td>
                      <td class="py-5">{{ item.product_price | currency }}</td>
                      <td class="py-5">{{ item.product_qty }}</td>
                      <td class="py-5">
                        {{ item.product_qty * item.product_price | currency }}
                      </td>
                    </tr>
                    }

                    <tr>
                      <th scope="row"></th>
                      <td class="py-5"></td>
                      <td class="py-5">
                        <p class="mb-0 text-dark py-3">Subtotal</p>
                      </td>
                      <td class="py-5"></td>
                      <td class="py-5">
                        <div class="py-3 border-bottom border-top">
                          <p class="mb-0 text-dark">
                            {{ cartSubtotal | currency }}
                          </p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td class="py-5"></td>
                      <td class="py-5">
                        <p class="mb-0 text-dark py-3">Shipping</p>
                      </td>
                      <td class="py-5"></td>
                      <td class="py-5">
                        <div class="py-3 border-bottom border-top">
                          <p class="mb-0 text-dark">
                            {{ shipping | currency }}
                          </p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td class="py-5"></td>
                      <td class="py-5">
                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                      </td>
                      <td class="py-5"></td>
                      <td class="py-5">
                        <div class="py-3 border-bottom border-top">
                          <p class="mb-0 text-dark">
                            {{ cartSubtotal + shipping | currency }}
                          </p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row g-4 text-center align-items-center justify-content-end pt-4"
        >
          <button
            type="submit"
            class="btn border border-warning py-3 px-4 text-uppercase w-25 rounded-pill"
          >
            Place Order
          </button>
        </div>
      </form>
    </div>
  </div>
  } @else{
  <div class="d-flex justify-content-center align-items-center no-items-found">
    <label><h1>No items found</h1> </label>
  </div>
  }
</div>
