<div class="container-fluid">
  <div class="container pt-5">
    <!-- <div class="row g-4 mb-5"> -->
    <!-- //col-lg-8 col-xl-8 -->
    <!-- col-9 -->
    <div class="">
      <div class="row g-4">
        <div class="col-lg-6">
          <div class="rounded">
            <img
              crossOrigin="anonymous"
              src="{{ productDetail?.product_image }}"
              class="img-fluid rounded"
              alt="Image"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <h4 class="fw-bold mb-3">{{ productDetail?.product_name }}</h4>
          <p class="mb-3">Category: {{ productDetail?.category_name }}</p>
          <h5 class="fw-bold mb-3" #price>
            {{ productDetail?.product_cost | currency }}
          </h5>

          <!-- <div class="d-flex justify-content-start"> -->
          <app-ratting-component
            ratting="{{ productDetail?.rating }}"
            class="mt-4"
          ></app-ratting-component>

          <p class="mb-4">
            {{ productDetail?.product_description }}
          </p>

          <div
            class="input-group quantity mb-4"
            style="width: 100px"
            [ngClass]="goCartActive ? 'd-flex' : 'd-none'"
          >
            <div class="input-group-btn">
              <button
                class="btn btn-sm btn-minus rounded-circle bg-light border"
                (click)="removeQuantity(qty, productDetail)"
                [disabled]="buttonDisable"
              >
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <input
              readonly
              type="text"
              id="product_qty"
              class="form-control form-control-sm text-center border-0"
              value="1"
              [(ngModel)]="productQtyDetail"
              #qty
            />
            <div class="input-group-btn">
              <button
                class="btn btn-sm btn-plus rounded-circle bg-light border"
                (click)="addQuantity(qty, productDetail)"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <div>
              <div
                routerLink="/products"
                class="btn border border-secondary rounded-pill me-2"
              >
                <i class="bi bi-arrow-left"></i> Back
              </div>
            </div>
            @if(!goCartActive){
            <div
              class="btn border border-warning rounded-pill text-primary ms-1"
              (click)="productAddtoCart(productDetail, qty)"
            >
              <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
            </div>
            }@else {
            <div
              class="btn border border-warning rounded-pill text-primary ms-1"
              routerLink="/cart"
            >
              <i class="fa fa-shopping-bag me-2 text-primary"></i> Go to cart
            </div>
            }
            <div
              class="text-secondary d-flex align-items-center ms-3"
              (click)="productAddtoWishlist(productDetail)"
            >
              <i
                class="fa fa-light fa-heart fs-2"
                [ngClass]="wishlistProduct ? 'filled' : 'wishlist'"
              ></i>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <nav>
            <div class="nav nav-tabs mb-3">
              <button
                class="nav-link active border-white border-bottom-0"
                type="button"
                role="tab"
                id="nav-about-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-about"
                aria-controls="nav-about"
                aria-selected="true"
              >
                Description
              </button>
              <button
                class="nav-link border-white border-bottom-0"
                type="button"
                role="tab"
                id="nav-mission-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-mission"
                aria-controls="nav-mission"
                aria-selected="false"
              >
                Reviews
              </button>
            </div>
          </nav>
          <div class="tab-content mb-5">
            <div
              class="tab-pane active"
              id="nav-about"
              role="tabpanel"
              aria-labelledby="nav-about-tab"
            >
              <p>
                The generated Lorem Ipsum is therefore always free from
                repetition injected humour, or non-characteristic words etc.
                Susp endisse ultricies nisi vel quam suscipit
              </p>
              <p>
                Sabertooth peacock flounder; chain pickerel hatchetfish,
                pencilfish snailfish filefish Antarctic icefish goldeye
                aholehole trumpetfish pilot fish airbreathing catfish, electric
                ray sweeper.
              </p>
              <div class="px-2">
                <div class="row g-4">
                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <div
                      class="row bg-light align-items-center text-center justify-content-center py-2"
                    >
                      <div class="col-6">
                        <p class="mb-0">Weight</p>
                      </div>
                      <div class="col-6">
                        <p class="mb-0">1 kg</p>
                      </div>
                    </div>
                    <div
                      class="row text-center align-items-center justify-content-center py-2"
                    >
                      <div class="col-6">
                        <p class="mb-0">Country of Origin</p>
                      </div>
                      <div class="col-6">
                        <p class="mb-0">Agro Farm</p>
                      </div>
                    </div>
                    <div
                      class="row bg-light text-center align-items-center justify-content-center py-2"
                    >
                      <div class="col-6">
                        <p class="mb-0">Quality</p>
                      </div>
                      <div class="col-6">
                        <p class="mb-0">Organic</p>
                      </div>
                    </div>
                    <div
                      class="row text-center align-items-center justify-content-center py-2"
                    >
                      <div class="col-6">
                        <p class="mb-0">Сheck</p>
                      </div>
                      <div class="col-6">
                        <p class="mb-0">Healthy</p>
                      </div>
                    </div>
                    <div
                      class="row bg-light text-center align-items-center justify-content-center py-2"
                    >
                      <div class="col-6">
                        <p class="mb-0">Min Weight</p>
                      </div>
                      <div class="col-6">
                        <p class="mb-0">250 Kg</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane"
              id="nav-mission"
              role="tabpanel"
              aria-labelledby="nav-mission-tab"
            >
              @for(review of productReviews;track review){
              <div class="d-flex mb-4">
                <img
                  crossOrigin="anonymous"
                  src="{{ review.user_profile_image }}"
                  class="img-fluid rounded-circle p-3"
                  style="width: 100px; height: 100px"
                  alt=""
                />
                <div class="">
                  <h5>{{ review.user_name }}</h5>
                  <div class="d-flex justify-content-between">
                    <p class="mb-1" style="font-size: 14px">
                      {{
                        review.createdAt || review.created_at
                          | date: 'y-0M-0d 0h:mm a'
                      }}
                    </p>
                    <div class="d-flex mb-1">
                      <app-ratting-component
                        ratting="{{ review?.rating }}"
                        class="mx-4"
                      ></app-ratting-component>
                    </div>
                  </div>
                  <p class="mt-0">
                    {{ review.review }}
                  </p>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
        <app-product-review
          [productId]="productDetail?.id"
          [userReviewDetails]="reviewData"
        ></app-product-review>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid vesitable">
  <div class="container">
    <h1 class="fw-bold mb-0">Related products</h1>
    <owl-carousel-o [options]="customOptions">
      @for(product of products || []; track product.category_name ){
      @if(product.category_name == productDetail?.category_name){
      <ng-template carouselSlide>
        <div class="border border-success">
          <div class="vesitable-img">
            <img
              crossOrigin="anonymous"
              [src]="product.product_image"
              class="img-fluid w-100 rounded-top dashboard-products myimage"
              alt=""
            />
          </div>
          <div
            class="text-white bg-primary px-3 py-1 rounded position-absolute"
            style="top: 10px; right: 10px"
          >
            {{ product.category_name }}
          </div>
          <div class="p-4 rounded-bottom">
            <a
              routerLink="/products/{{ product.id }}"
              (click)="getProductDetail(product.id)"
              ><h4>{{ product.product_name }}</h4></a
            >
            <p class="product-discription">
              {{ product.product_description }}
            </p>
            <div class="d-flex justify-content-between flex-lg-wrap">
              <p class="text-dark fs-5 fw-bold mb-0">
                {{ product.product_cost | currency }} / kg
              </p>
              <app-add-to-cart [productData]="product"></app-add-to-cart>
            </div>
          </div>
        </div>
      </ng-template>
      } }
    </owl-carousel-o>
  </div>
</div>
