$primary-variable: #81c408 !important;
$secondary-variable: rgb(255 193 7);
.secondary {
  background-color: $secondary-variable;
}
.text-primary {
  color: $primary-variable;
}

.dashboard-products {
  width: 300px;
  height: 250px;
}
