$primary-variable: #81c408 !important;
$secondary-variable: rgb(255 193 7);
.secondary {
  background-color: $secondary-variable;
}
.text-primary {
  color: $primary-variable;
}

.dashboard-products {
  width: 300px;
  height: 250px;
}

.pagination .active > .page-link,
.page-link.active {
  background-color: $primary-variable !important;
}

.height-1450 {
  height: 1450px;
}

.height-850 {
  height: 850px;
  width: 100%;
}

.input-group.w-100.mx-auto.d-flex {
  input {
    height: 60px;
  }
}

.btn.border-secondary:hover {
  background: rgba(
    var(--bs-secondary-rgb),
    var(--bs-border-opacity)
  ) !important;
  color: #fff !important;
}

.wishlist {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  padding-right: 0.1rem;
  color: #d3d3d3;
}

.filled {
  color: red;
}

.ctm-btn-success {
  background-color: #81c408;
  color: white !important;
  border-color: #81c408 !important;
}
.container-fluid {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .pt-5 {
    padding-top: 0px !important;
  }

  .py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  .px-4 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .static_image,
  .top-rated-products,
  .search-field_1 {
    display: none;
  }
  .container-fluid {
    margin-top: 0px;
  }
}
