<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <h1>Terms &amp; Conditions</h1>

          <!-- <p class="">
              Read our terms below to learn more about your rights and
              responsibilities as a Product Name user.
          </p> -->

          <h3 class="mt-3">This is a H1, Perfect's for titles.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Stress, for
              the United States element ante. Duis cursus, mi quis viverra ornare,
              eros pain, sometimes none at all, freedom of the living creature was
              as the profit and financial security. Jasmine neck adapter and just
              running it lorem makeup sad smile of the television set.</p>
  
               <!-- para -->
          <p >
              <span>Email:</span>
              {{'info@yopmail.com'}}
          </p>
          <!-- para -->
          <p >
              <span>Address:</span>
              52, Komal Villas, Mansarovar Vadodara - 374321
              <div >
                  <div>
                    <h3>A. This is a H3's perfect for the titles.</h3>
                  </div>
                  <div >
                    <p >
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Stress,
                      for the United States element ante. Duis cursus, mi quis viverra
                      ornare, eros pain, none at all, freedom of the living creature was
                      as the profit and financial security. Jasmine neck adapter and
                      just running it lorem makeup hairstyle. Now sad smile of the
                      television set.
                    </p>
                  </div>
                </div>
                <!-- para -->
                <div >
                  <div>
                    <h3>B. This is a H3's perfect for the titles.</h3>
                  </div>
                  <div >
                    <p >
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Stress,
                      for the United States element ante. Duis cursus, mi quis viverra
                      ornare, eros pain, none at all, freedom of the living creature was
                      as the profit and financial security. Jasmine neck adapter and
                      just running it lorem makeup hairstyle. Now sad smile of the
                      television set.
                    </p>
                  </div>
                </div>
                <!-- para -->
                <div >
                  <h2>This is a H2's perfect for the titles.</h2>
                  <p >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Stress, for
                    the United States element ante. Duis cursus, mi quis viverra ornare,
                    eros pain , sometimes none at all, freedom of the living creature
                    was as the profit and financial security. Jasmine neck adapter and
                    just running it lorem makeup hairstyle. Now sad smile of the
                    television set.
                  </p>
                  <!-- list -->
                  <ul >
                    <li>More than 60+ components</li>
                    <li>Five ready tests</li>
                    <li>Coming soon page</li>
                    <li>Check list with left icon</li>
                    <li>And much more ...</li>
                  </ul>
                </div>
                <!-- para -->
                <div >
                  <h2>This is a H2's perfect for the titles.</h2>
                  <p >
                    Geeks ui takes the privacy of its users very seriously. For the
                    current our Privacy Policy, please click
                    .
                  </p>
                  <p >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                    cursus, mi quis viverra ornare, eros pain, sometimes none at all,
                    freedom of the living creature was as the profit and financial
                    security. Jasmine neck adapter and just running it lorem makeup
                    hairstyle. Now sad smile of the television set.
                  </p>
                  <h2>Changes about terms</h2>
                  <p >
                    If we change our terms of use we will post those changes on this
                    page. Registered users will be sent an email that outlines changes
                    made to the terms of use.
                  </p>
                </div>
              </div>
            </div>
          </div>